<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="no.hotdot.mapkit" version="0.0.5">
    <name>MapKit</name>
    <description>Cordova Plugin for Native Apple Maps</description>
    <license>MIT License</license>
    <keywords>cordova,device,maps,mapkit,apple,applemaps</keywords>
    <js-module src="www/mapkit.js" name="mapkit">
        <clobbers target="mapkit" />
    </js-module>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="MapKit">
                <param name="ios-package" value="MapKit"/>
            </feature>
        </config-file>
        <header-file src="src/ios/MapKit.h" />
        <source-file src="src/ios/MapKit.m" />
        <header-file src="src/ios/MapKitAnnotation.h" />
        <source-file src="src/ios/MapKitAnnotation.m" />
        <header-file src="src/ios/MapKitAnnotationView.h" />
        <source-file src="src/ios/MapKitAnnotationView.m" />
        <header-file src="src/ios/MapKitQuadTree.h" />
        <source-file src="src/ios/MapKitQuadTree.m" />
        <header-file src="src/ios/MapKitCoordinateQuadTree.h" />
        <source-file src="src/ios/MapKitCoordinateQuadTree.m" />
        <framework src="MapKit.framework" />
        <framework src="CoreLocation.framework" />
        <framework src="QuartzCore.framework" />
    </platform>
</plugin>
